<a href="https://colab.research.google.com/github/IK141731/Introducci-n/blob/main/0_Programacion/clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <u>Introducción al Python</u>

## ¿Qué es Python?

Python es un lenguaje de programación interpretado, orientado a objetos, de alto nivel y con semántica dinámica creado por Guido van Rossum en 1991.

A continuación haremos una breve introducción de los conceptos y operaciones básicas de Python.

## Celda de código

In [ ]:
#Celda de código

4 + 5

Esto es un comentario dentro de una celda de texto
# Título nivel 1
## Título nivel 2
### Título nivel 3
#### Título nivel 4
##### Título nivel 5

In [ ]:
*Este texto está en cursiva*
<br>
**Este texto está en negrita**
<br>
***Y este texto en negrita y cursiva***

SyntaxError: invalid syntax (<ipython-input-1-5c040e728f6c>, line 1)

<center> <u><i><b>Texto centrado</b></i></u> </center>

<i> Cursiva </i>

## Tipos de datos básicos

In [ ]:
#Crear una variable
x = 25

In [ ]:
#Consultar el contenido de una variable
x

25

In [ ]:
# Asignación múltiple de variables
x, y, z = 1,2,3

In [ ]:
x

1

In [ ]:
y

2

In [ ]:
x,y,z

(1, 2, 3)

In [ ]:
True = 3

SyntaxError: cannot assign to True (<ipython-input-8-679355094e21>, line 1)

### Datos Numéricos

In [ ]:
a,b = 25,7

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
#División real
a / b

In [ ]:
#División entera
a // b

In [ ]:
#Residuo (Operador módulo)
a % b

Al tener diversas operaciones y consultas dentro de una misma celda de código, todas las operaciones son ejecutadas pero solo la última consulta será visible en el output.

In [ ]:
c = a / b
a, b, c

In [ ]:
#Consultar el tipo de dato de una variable
type(a), type(b), type(c)

In [ ]:
c

In [ ]:
#Función útil de redondeo, no requiere importar ningún paquete o módulo adicional

round(c, 2)

In [ ]:
#Operador exponencial
24 ** 7

In [ ]:
#Números muy grandes son soportados en Python
5424157445487845 ** 100

In [ ]:
#Calculando una raiz como la inversa de la exponencial
36 ** (1/5)

In [ ]:
pow(10,2)

In [ ]:
pow(36,1/5)

In [ ]:
7-6+2**3/4*5

11.0

In [ ]:
25//8

3

In [ ]:
int(1)

1

In [ ]:
# Declarar un variable con un valor del tipo punto flotante

x = 24.0
print(x, type(x))

24.0 <class 'float'>

In [ ]:
# Declarar una variable con un valor numérico usando la función float

x = float(24)
print(x, type(x))

24.0 <class 'float'>

In [ ]:
# Declarar un variable con un valor del tipo complejo

var = 24 + 20j
print(var, type(var))

(24+20j) <class 'complex'>

In [ ]:
# Declarar una variable con un un para de valores numéricos usando la función complex

var = complex(24, 20)
print(var, type(var))

(24+20j) <class 'complex'>

In [ ]:
print(var.real)
print(var.imag)

24.0
20.0

In [ ]:
pow(-1,1/2)

(6.123233995736766e-17+1j)

### Datos Booleanos

In [ ]:
b1 = True
b2 = True
b3 = False

In [ ]:
b1

True

In [ ]:
#Negación
not b1

False

In [ ]:
3 == 5   #igualdad

False

In [ ]:
5 > 3

True

In [ ]:
#Operador and: si ambas condiciones son verdaderas, todo es verdadero, cc es falso
b1 and b3

False

In [ ]:
b1 and b2

True

In [ ]:
#Operador or: si ambas condiciones son falsas, todo es falso, cc es verdadero
b2 or b3

True

In [ ]:
not b2 or b3

False

In [ ]:
#Operador xor: disyuncion exclusiva - si ambas condiciones son iguales es falso
b1 ^ b3

True

#### Operadores relacionales

In [ ]:
3 == 4  # Igual que

False

In [ ]:
3 != 4  # Distinto que

True

In [ ]:
8 < 12  # Menor que

True

In [ ]:
12 > 7  # Mayor que

True

In [ ]:
12 <= 12  # Menor o igual que

True

In [ ]:
4 >= 5  # Mayor o igual que

False

#### Operadores lógicos

In [ ]:
5 == 7 and 7 < 12  #False and True

False

In [ ]:
9 < 12 and 12 > 7  # True and True

True

In [ ]:
9 < 12 and 12 > 15  # True and False

False

In [ ]:
12 == 12 or 15 < 7  # True or False

True

In [ ]:
7 > 5 or 9 < 12  # True or True

True

In [ ]:
12 == 13 or 15 < 7  # False or False

False

### Datos String

In [ ]:
'Hola Data Science - DMC'

'Hola Data Science - DMC'

In [ ]:
"Hola Data Science - DMC"

'Hola Data Science - DMC'

In [ ]:
'Este texto incluye unas ' ' '

'Este texto incluye unas  '

In [ ]:
'Este texto incluye unas " " '

'Este texto incluye unas " " '

In [ ]:
"Esta 'palabra' se encuentra escrita entre comillas simples"

"Esta 'palabra' se encuentra escrita entre comillas simples"

In [ ]:
# \ es conocido el operador skip: permite volver literal un operador
"Esta \"palabra\" se encuentra escrita entre comillas dobles"

'Esta "palabra" se encuentra escrita entre comillas dobles'

In [ ]:
'Esta \'palabra\' se encuentra escrita entre comillas simples'

"Esta 'palabra' se encuentra escrita entre comillas simples"

In [ ]:
s1 = 'Hola, soy un string.'
s2 = "Yo también"

In [ ]:
s1

'Hola, soy un string.'

In [ ]:
type(s2)

str

## Casting de datos

Es la operación de cambio de tipo de dato entre variables:
- De int a float
- De int a str
- De float a str
- Viceversa

Tener en cuenta que un str se puede convertir a número (int o float) siempre que no tenga otros caracteres, es decir, solo puede estar compuesto por dígitos.

In [ ]:
a

NameError: name 'a' is not defined

In [ ]:
#De int a float

float(a)

In [ ]:
a = float(a)

In [ ]:
type(a)

In [ ]:
a = int(a)

In [ ]:
type(a)

In [ ]:
#De int a str

str(a)

In [ ]:
s1 = "Hola"

In [ ]:
#Error, no se puede convertir a int

int(s1)

In [ ]:
#Solicitamos la edad y convertimos a int, puesto que la función input() siempre devuelve un str

edad = int(input("Ingrese la edad: "))

In [ ]:
edad

In [ ]:
type(edad)

In [ ]:
edad + 5

Calcular el producto de 444...444 (150 dígitos) por 777...777 (300 dígitos). Sin escribir el número completo.

In [ ]:
int('4' * 150) * int('7' * 300)

1. Se replica el string '4' 150 veces.
2. Se convierte ese string de 150 caracteres a un entero con la operación de cast.
3. Se realiza el mismo proceso con el string '7'.
4. Se realiza el cálculo de la multiplicación sin problemas, ambos son enteros.

## Ingreso y Salida de datos

### Salida de datos: print

Es una instrucción que nos permite mostrar correctamente el valor de una cadena (u otros valores/variables) por pantalla.

In [ ]:
"Visual .Net"
'Java'
'Pyhton'

In [ ]:
print("Visual .Net")
print('Java')
print('Python')

In [ ]:
x = 18

In [ ]:
#Mostrar en pantalla: 2 formas

print("La variable x vale", x)
print(f"La variable x vale {x}")

In [ ]:
print('Hola','como','estas')

In [ ]:
print("Hola")
print("Hola","Mundo")
print("Hola","Mundo", sep="***")
print("Hola","Mundo", end="***")

In [ ]:
Nombre = "Luis"
edad = 30
print(Nombre, "tiene", edad, "años de edad.")

In [ ]:
print("000","Hola", sep = '')

In [ ]:
# usando operadores de formato
print("%s tiene %d años de edad." %(Nombre, edad))

# d, i   Entero
# f      Punto flotante como m.ddddd
# s      cadena o string

In [ ]:
print("%s es un alumno de %s que saco de nota %d." %('Lucas','IFB',16))

In [ ]:
precio = 24
item = "banano"
print("El %s cuesta %d centavos"%(item,precio))
print("El %+10s cuesta %5.2f centavos"%(item,precio))
print("El %+10s cuesta %10.2f centavos"%(item,precio))

In [ ]:
# usando un diccionario de datos

diccitem = {"item":"banano","costo":24}
print("El %(item)s cuesta %(costo)7.1f centavos"%diccitem)

#### Asignación múltiple de variables

In [ ]:
# impresión de datos de diferentes tipos
a='string'
b=15
c=True

In [ ]:
print(a)
print(b)
print(c)

In [ ]:
a, b, c = 'string', 15, True
print(a, b, c)

### Ingreso de datos: input

In [ ]:
#Solicitar datos desde la pantalla (siempre se almacena siempre como un string)

nombre = input()

In [ ]:
print(nombre)

In [ ]:
type(nombre)

In [ ]:
# podemos agregarle un mensaje a la hora de ingresar datos

nombre = input("Por favor ingrese su nombre ")

In [ ]:
numero = int(input("Ingrese un número "))

In [ ]:
print(numero)

In [ ]:
type(numero)

In [ ]:
numero = int(input("Ingrese un número "))

In [ ]:
#Eliminar una variable

del nombre

In [ ]:
print(nombre)

#### Ejemplos adicionales:

In [ ]:
nombre = input("¿Cómo se llama?")
print(f"Me alegro de conocerle, {nombre}")

De forma predeterminada, la función input() convierte la entrada en una cadena, aunque escribamos un número. Si intentamos hacer operaciones, se producirá un error.

In [ ]:
cantidad = input("Dígame una cantidad en pesetas: ")
print(f"{cantidad} pesetas son {round(cantidad / 166.386, 2)} euros")

# f permite imprimir cadenas formateadas

Si se quiere que Python interprete la entrada como un número entero, se debe utilizar la función int() de la siguiente manera:

In [ ]:
cantidad = int(input("Dígame una cantidad en pesetas: "))
print(f"{cantidad} pesetas son {round(cantidad / 166.386, 2)} euros")

In [ ]:
cantidad = int(input("Dígame una cantidad en soles: "))
print(f"{cantidad} soles son {round(cantidad / 4.10, 2)} dolares")

De la misma manera, para que Python interprete la entrada como un número decimal, se debe utilizar la función float() de la siguiente manera:

In [ ]:
cantidad = float(input("Dígame una cantidad en euros (hasta con 2 decimales): "))
print(f"{cantidad} euros son {round(cantidad * 166.386)} pesetas")

La función input() sólo puede tener un argumento:

In [ ]:
nombre = input("Dígame su nombre: ")
apellido = input(f"Dígame su apellido, {nombre}: ")
print(f"Me alegro de conocerle, {nombre} {apellido}.")

In [ ]:
numero1 = int(input("Dígame un número: "))
numero2 = int(input(f"Dígame un número mayor que {numero1}: "))
print(f"La diferencia entre ellos es {numero2 - numero1}.")

## Importación de librerías

In [ ]:
#importar toda la librería con sus funciones
import numpy as np

In [ ]:
#sólo importar la(s) funcion(es) que se seleccionen de una determinada libería
from numpy import sqrt as raiz

In [ ]:
#Llamando a la función log que se encuentra en numpy (alias np)
np.log(47)

In [ ]:
#Llamando a la función sqrt con el alias de raiz (declarado en la importación de librerías)
raiz(100)

In [ ]:
np.sqrt(100)

In [ ]:
# asignación de una función a una variable (renombrar una función)
a = np.sqrt

In [ ]:
a(100)

In [ ]:
# instalación de una librería en jupyther notebook
!pip install pydataset